# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Arquivos de credenciais e chaves
*.pem
*.key
*.crt

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs e temporários
*.log
*.bak
*.tmp
*.pem.terraform.tfstate.lock.info
